# folders
.venv/
venv/
.idea/
dist/
.dist/
build/
build-test/
cache/
.cache/
.history/
node_modules/
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.ruff_cache/
.rye/
.xmake/

# for temp files
temp/
.temp/

# files
*.spec
*.manifest
*.exe
*.zip
*.py[cod]
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.out
*.app
*.diff
.vscode/compile_commands.json

# xmake
src/cpp*/Makefile
CMakeLists.txt
vsxmake*

# assets
*.pdf
.DS_Store

# env
.env*
!.envrc
!.env*.example

# direnv
.direnv/

# Mac specific
.DS_Store
.AppleDouble
.LSOverride

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# specific files
src/others/output/
src/cpp1f/docs/
src/others/**/*.svg
