# folders
.venv/
dist/
build/
build-test/
cache/
.cache/
node_modules/
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.ruff_cache/
.xmake/
runs/
.direnv/
.temp/

# files
*.exe
*.zip
compile_commands.json
*.pdf
.env*
!.envrc
!.env*.example

# specific files
deps-*
src/others/output/
src/cpp1f/docs/
src/others/**/*.svg
src/dp1/trained/
src/dp1/datasets/
src/others/src/**/*.png
src/TransportFinal/**/*.png
src/**/*-data/
src/**/*-results/
