# 测试报告

## lsp

主要测试 URI，少量测试了 Protocal，严格来讲，后者不需要测试。

## lspclient

简单的启动关闭测试。

## mystl

系统性测试。

## misc

测试 `uriForFile` 是否正常运行。

---

所有测试全部通过，测试快照见 tests 目录下。